/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.home-features {
  width: 150px;
}

.features {
  padding-left: 30px;
  padding-right: 30px;
}

.home-wrapper {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: rgba(240,146,0,0.6);
}

