/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.home-features {
  width: 150px;
}

.features {
  padding-left: 30px;
  padding-right: 30px;
}

.home-wrapper-grey {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f4f4;
}

