<p>
  <span class="conversation-title">From: </span>
  <span class="conversation-content"><%=message.user.email %></span>
</p>
<p>
  <span class="conversation-content"><%=message.message %></span>
</p>
