
<div class="container">
<p id="notice"><%= notice %></p>
<h1>My Facilities</h1>
  <div class="row">
    <% @facilities.each do |f| %>
      <div class="col-xs-12 col-sm-4 card-padding-botton">
        <%= render "card",facility: f %>
      </div>
    <% end %>
    <%= link_to 'New Facility', new_facility_path, class: 'btn btn-primary' %>
  </div>
</div>
<br>
