<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My Facilities</h1>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <% @facilities.each do |f| %>
              <%= render "card",facility: f %>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <%= link_to 'New Facility', new_facility_path %>
    </div>
  </div>
</div>
