    <div class="banner" style="background-image: linear-gradient(rgba(240,81,0,0.5), rgba(240,146,0,0.6)), url(<%= asset_url('cover.gif') %>);">
      <div class="banner-content">
        <h1>FAÇA SUA CERVEJA</h1>
        <p>Encontre os melhores lugares para produzir a sua cerveja artesanal.</p>
        <form action="" class="form-inline">
          <input type="text" class="form-control input-lg" placeholder="Onde você está?">
          <input type="text" class="form-control input-lg" placeholder="Produção">
          <input type="submit" class="btn btn-danger btn-lg" value="Search">
        </form>
      </div>
    </div>
